/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    justify-content: center;
    margin:0px;
}

/****** Menu ***********/
nav{
    /*aligne de maniere flexbile horizontalement*/
    display: flex;
    /*place le premier élément à gauche, le dernier à droite et répartit tout l’espace restant uniformément entre les éléments.*/
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.text-gras{
    font-weight: bold;
}
.main-title{
    font-size: 22px;
}

.sub-title{
    font-size: 16px;
    font-weight: normal;
}

.logo img{
    height: 19px;
    padding-top: 10px;
}

.nav-links{
    display: flex;
    gap:50px;
    list-style: none;
}

.nav-links li a{
    padding-top:20px;
}

.nav-links li a:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

.header-content{
    margin-top:75px;
}

/****** Champs recherche ***********/
#localisation-icon{
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width:50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#localisation-icon img{
    display: block;
    width:17px;
    margin: auto;
}

.search-input{
    width: 195px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border:0px;
}
.search-btn{
    width: 135px;
    height: 50px;
    border:0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.search-form {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 40px;
    border: 1px solid var(--main-bg-color);
    background-color: white;
    border-radius: 15px;
    width: 377px;
}
.search-icon{
    display: none;
}

/****** Listes Filtre***********/
.filters-list {
    display: flex;
    /*retour à la ligne à la fin du conteneur*/
    flex-wrap: wrap;
    justify-content: left;
    gap: 15px;
    list-style: none;
    margin:0px;
    padding-left: 20px;
}

.filters-list li {
    margin-right: 5px;
    box-sizing: border-box;
    border: 1px solid var(--main-bg-color);
    border-radius: 25px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
}
.filters-list li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}

.filters-list img {
    width: 20px;
}

.filters-list li:hover {
    background-color: var(--filter-bg-color);
}
.text-filter{
    display: flex;
    align-items: center;
}

.text-filter p{
    margin:0px;
}
.filters{
    margin-top: 40px;
    display:flex;
    justify-content: start;
}

.info{
    display:flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-top: 40px;
}
.info p{
    margin:0px;
}

.info img{
    width:22px;
    height:22px;
    padding:6px;
    box-sizing: border-box;
    border: 1px solid var(--main-bg-color);
    border-radius: 30px;
    background-color: white;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;

}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Hébergements à Marseille ***********/

.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 33px;

}

.hebergements-cards a{
    width: calc(33.333% - 13.333px);
    box-sizing: border-box;
}

.vertical-card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    flex: 1;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0px;
}

.hebergements-cards .card-rating {
    margin-top: 5px;
    margin-bottom: 10px;
}

.lien-afficher-plus{
    margin-top:30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*Bloc activités*/

.bloc-activites-card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.activites{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 70px;
}

.activites a{
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-wrap: wrap;
    width: calc(25% - 15px);
    box-sizing: border-box;
    margin-top: 33px;

}

.activite-card{
    width: 100%;
}
.activite-card img{
    width: 100%;
    height:380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.activites-bloc-card-txt{
    padding-left:20px;
    display: flex;
    align-items: center;
    height: 60px;
}


/*Footer*/

.footer{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 50px 50px 50px;
    margin-top:70px;
}
.footer-bloc{
    width: 33.333%;
}

.footer-bloc ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.footer-bloc ul{
line-height:2;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-card img{
        height:200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    nav{
        display: flex;
        flex-wrap: wrap;
    }
    .bloc-logo{
        width: 100%;
    }
    .bloc-menu{
        width: 100%;
    }
    .logo{
        display: block;
        width: fit-content;
        margin: 20px auto;
    }
    .nav-links {
        padding-left: 0px;
        gap:0px;
        display: flex;
    }
    .nav-links li {
        flex: 1;
        text-align: center;

    }
    .nav-links li a {
        display: block;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--main-bg-color);

    }
    .nav-links li a:hover{
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .search-form{
        width: 100%;
    }
    .search-input{
        width: calc(100% - 99px);
    }
    .search-icon{
        display: block;
        margin: auto;
        width: 17px;
    }
    .search-btn{
        width: 49px;
        border-radius: 15px;
    }
    .text-rechercher{
        display: none;
    }

    .main-container {
        padding: 0px;
    }
    .filters{
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-filter{
        margin-bottom: 20px;
    }
    .filters-list {
        padding-left: 0px;
    }
    .filters-list li {
        width: 162px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .filters-list li a{
        font-size: 14px !important;
    }
    .header-content {
        margin-top: 5px;
        padding-left: 20px;
        padding-right: 20px;

    }
    .info{
        padding-left: 20px;
        padding-right: 20px;
    }

    .hebergements-and-populaires{
        display: flex;
    }
    .hebergements{
        order: 2;
        margin-top: 20px;
        background-color: white !important;
    }
    .populaires{
        order: 1;
        margin-top: 0px;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
    }
    .hebergements-cards a {
        width: 100%;
    }
    .populaires-cards a {
        width: 100%;
    }
    .populaires-cards {
        flex-wrap: wrap;
    }
    .activites{
        margin-top: 50px;
    }
    .activites a {
        width: 100%;
        margin-top: 10px;

    }
    .footer {
        flex-wrap: wrap;
    }
    .footer-bloc {
        width: 100%;
        margin-bottom: 20px;
    }
}